<html>
<head><title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/home.css'%}">
</head>
<body bgcolor="#bb98ff">
<!--Navbar Started-->
    <div id = 'nav'>
        <a href = "{% url 'homepage:home' %}">
        <div id = "logo">
            COMPANY
        </div></a>
        <div id = "func">
        <div id = "register" style = "display:{{ in }};">
            <a href = "{% url 'register:login' %}">
            <div id = "in">
                Log In
            </div></a>
             <a href = "{% url 'register:signup' %}">
             <div id = "up">
               Sign Up
             </div></a>
        </div>
        <div id = "inside" style = "display:{{ out }};">
            <a href = "{% url 'homepage:profile' %}">
            <div id = "profile">
                Profile
            </div></a>
             <a href = "{% url 'homepage:logout' %}">
             <div id = "out">
               Log Out
             </div></a>
        </div>
        </div>
    </div>
<!--navbar completed-->


{% if allow %}
    <div style = "position: relative; z-index: 0;">
        {% include 'homepage/profile.html' %}</div>
{% else %}
    <p style = "margin-top: 450;">Thank u all for visiting....</p>
{% endif %}

</body>
</html>